<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Hello APP</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/public.css" />
    <style>
        .box {
            width: 30%;
            height: 90px;
            overflow: hidden;
            font-size: 16px;
            position: relative;
        }

        .biankuang {
            height: 100%;
            position: relative;
            overflow: hidden;
            border: #E44F26 solid 1px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            color: #E44F26;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div v-cloak id="sc_box"
        style="display: flex;padding: 15px;margin-top: 15px; align-items: center;flex-wrap: wrap;justify-content:space-between; background-color: #fff;">
        <div class="box">


            <div v-if="xsz.is_add_img" class="biankuang" id="sc_xingshizheng">
                <img :src="xsz.img_url" width="100%" height="70px" alt="" srcset="">
                <!-- <i class="aui-iconfont aui-icon-plus" style="font-size: 30px;"></i> -->
                <div>修改行驶证</div>
            </div>

            <div v-if="!xsz.is_add_img" class="biankuang" id="sc_xingshizheng">
                <i class="aui-iconfont aui-icon-plus" style="font-size: 30px"></i>
                <div>上传行驶证</div>
            </div>


        </div>
        <div class="box">
            <div v-if="sfz_zm.is_add_img" class="biankuang" id="sc_sfz_zhengmian">
                <img :src="sfz_zm.img_url" width="100%" height="70px" alt="" srcset="">
                <!-- <i class="aui-iconfont aui-icon-plus" style="font-size: 30px;"></i> -->
                <div>修改身份证正面</div>

            </div>
            <div v-if="!sfz_zm.is_add_img" class="biankuang" id="sc_sfz_zhengmian">
                <i class="aui-iconfont aui-icon-plus" style="font-size: 30px;"></i>
                <div>上传身份证正面</div>

            </div>
        </div>
        <div class="box">


            <div v-if="sfz_fm.is_add_img" class="biankuang" id="sc_sfz_fanmian">
                <img :src="sfz_fm.img_url" width="100%" height="70px" alt="" srcset="">
                <!-- <i class="aui-iconfont aui-icon-plus" style="font-size: 30px;"></i> -->
                <div>修改身份证反面</div>
            </div>

            <div v-if="!sfz_fm.is_add_img" class="biankuang" id="sc_sfz_fanmian">
                <i class="aui-iconfont aui-icon-plus" style="font-size: 30px;"></i>
                <div>上传身份证反面</div>
            </div>
        </div>
    </div>


    <div v-cloak id="apibox">
        <ul class="aui-list aui-media-list aui-list-noborder" style="background-color: #fff">
            <li class="aui-list-header">
                <div style="border-left:coral solid 5px;padding-left:10px;color: coral" class="aui-font-size-16">
                    保险信息填写
                </div>
            </li>
        </ul>
        <div class="aui-content aui-margin-b-15" style="background-color: #fff;">
            <ul class="aui-list aui-list-in ">
                <li v-for="items in data" class="aui-list-item ">
                    <div :id="items.type" class="aui-list-item-inner aui-list-item-arrow">
                        <div class="aui-list-item-title aui-font-size-14">{{items.title}}</div>
                        <div v-if="!items.jieguo" class="aui-list-item-right">
                            点击选择
                            <!-- <div class="aui-dot" style="position:relative;top:0; right:0"></div> -->
                        </div>

                        <div v-else-if="items.jieguo=='不买'" class="aui-list-item-right" style="color: red;">
                            {{items.jieguo}}
                            <!-- <div class="aui-dot" style="position:relative;top:0; right:0"></div> -->
                        </div>
                        <div v-else class="aui-list-item-right aui-text-info">
                            {{items.jieguo}}
                            <!-- <div class="aui-dot" style="position:relative;top:0; right:0"></div> -->
                        </div>
                    </div>
                </li>

                <template v-for="items in data" v-if="items.bjmp">

                    <template v-if="items.jieguo!='不买'&&items.jieguo!=''">
                        <li class="aui-list-item">
                            <div class="aui-list-item-inner ">
                                <div class="aui-list-item-title aui-font-size-14">
                                    不计免赔（{{items.title}}）
                                </div>
                                <div class="aui-list-item-right">
                                    <label>
                                        <input class="aui-radio" type="radio" v-model='items.bjmp.is_mai'
                                            value="1"><span class="margin-l-10">购买</span>
                                    </label>
                                    <label style="margin-left: 15px;">
                                        <input class="aui-radio" type="radio" v-model='items.bjmp.is_mai' checked
                                            value="0"><span class="margin-l-10">不买</span>
                                    </label>
                                    <!-- <div class="aui-dot" style="position:relative;top:0; right:0"></div> -->
                                </div>
                            </div>
                        </li>
                    </template>
                </template>
            </ul>
        </div>
    </div>




    <div style="display: flex;justify-content:space-around;padding: 15px;">
        <div id="baojia" class="aui-btn aui-btn-info">报价</div>
    </div>
</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/vue.js"></script>
<script type="text/javascript" src="../script/public.js"></script>

<script type="text/javascript">


    apiready = function () {
        let config = get_config()
    
        var baojiashuju = {};
        baojiashuju.bx_data = [];
        var apibox = new Vue({
            el: '#apibox',
            data: {
                error: false,
                data: config.BX_xiangmu,
                // bujimianpei: config.bujimianpei,
                imgurl: '../image/',
                errormsg: '没有找到您需要的数据'
            }
        })


        var sc_box = new Vue({
            el: '#sc_box',
            data: {
                xsz: {
                    name: '行驶证',
                    is_add_img: false,
                    img_url: '',
                },
                sfz_zm: {
                    name: '身份证正面',
                    is_add_img: false,
                    img_url: '',
                },
                sfz_fm: {
                    name: '身份证反面',
                    is_add_img: false,
                    img_url: '',
                }
            }
        })
        var gllis = $api.domAll('.aui-list-item-arrow');
        Array.prototype.forEach.call(gllis, function (btn) {
            btn.addEventListener('click', function (event) {
                var id = event.currentTarget.getAttribute('id');
                var sss = (apibox.data)[id];
                api.actionSheet(sss, function (ret, err) {
                    var index = ret.buttonIndex;
                    if (index == 1) {

                        sss.jieguo = sss.destructiveTitle
                        if (sss.hasOwnProperty('bjmp')) {
                            sss.bjmp.is_mai = 0
                        }


                    } else if (index >= (sss.buttons).length + 2) {

                    } else {

                        sss.jieguo = sss.buttons[index - 2]

                    }

                });
            })
        })


        $api.addEvt($api.dom('#baojia'), 'click', function () {
            var user = $api.getStorage('user');
            var md5password = $api.getStorage('md5password');
            if ($api.getStorage('islogin') != 'true') {
                api.alert({
                    title: '提示',
                    msg: '你还没登录'
                });
                return
            }

            for (var key in sc_box.$data) {
                if (sc_box.$data.hasOwnProperty(key)) {
                    var element = sc_box.$data[key];
                    if (!element.is_add_img) {
                        api.toast({
                            msg: element.name + '未上传',
                            duration: 2000,
                            location: 'bottom'
                        });
                        return
                    }
                }
            }

            var BXdata = {};
            for (var key in apibox.data) {
                if (apibox.data.hasOwnProperty(key)) {
                    var element = (apibox.data)[key];
                    BXdata[key] = {}
                    BXdata[key].name = element.title
                    BXdata[key].jieguo = element.jieguo
                    if (apibox.data[key].hasOwnProperty('bjmp')) {
                        BXdata[key].bjmp = {};
                        BXdata[key].bjmp = element.bjmp.is_mai
                    }
                }
            }




            api.ajax({
                url: server + '/api/baojia',
                method: 'post',
                timeout: 10,
                dataType: 'json',
                returnAll: false,
                data: {
                    values: {
                        user: user,
                        md5password: md5password,
                        BXdata: BXdata,
                        cheliang_xinxi: config.cheliang_xinxi
                    },
                    files: {
                        file: [sc_box.$data.xsz.img_url, sc_box.$data.sfz_zm.img_url, sc_box.$data.sfz_fm.img_url]
                    }

                }
            }, function (ret, err) {
                if (ret) {
                    toast('提交成功');
                    api.closeWin();
                } else {
                    toast('失败');
                };
            });

        })

         $api.addEvt($api.dom('#sc_xingshizheng'), 'click', function () {

            add_img('xsz')
        })
        $api.addEvt($api.dom('#sc_sfz_zhengmian'), 'click', function () {

            add_img('sfz_zm')
        })
        $api.addEvt($api.dom('#sc_sfz_fanmian'), 'click', function () {

            add_img('sfz_fm')
        })
  


        $api.addEvt($api.dom('#jisuan'), 'click', function () {
            api.ajax({
                url: server + '/api/add_sql_zixun',
                method: 'post',
                data: {
                    values: {
                        data: list.data
                    },
                    files: {
                        file: list.data.imgsrcs
                    }
                },
                timeout: 30,
                dataType: 'json',
                returnAll: false
            }, function (ret, err) {
                if (ret) {

                    api.showProgress({
                        title: '上传完毕',
                        text: '',
                        modal: true,
                        animationType: 'zoom'
                    });
                    setTimeout(function () {
                        api.hideProgress();
                        api.closeWin();
                    }, 1000);


                } else {
                    api.showProgress({
                        title: '上传出错',
                        text: '',
                        modal: true,
                        animationType: 'zoom'
                    });
                    setTimeout(function () {
                        api.hideProgress();
                    }, 1000);
                };
            });

        })


        function add_img(type) {
            api.getPicture({
                sourceType: 'library',
                encodingType: 'jpg',
                mediaValue: 'pic',
                destinationType: 'url',
                allowEdit: true,
                quality: 60,
                targetWidth: 500,
                // targetHeight: ,
                saveToPhotoAlbum: false
            }, function (ret, err) {
                if (ret.data != "") {
                    sc_box[type].is_add_img = true;
                    sc_box[type].img_url = ret.data;
                    // alert(JSON.stringify(sc_box[type]))
                    // var add_img = { imgsrc: ret.data, type: 'img' }
                    // // list.data.text_imgsrc_types.splice(list.data.text_imgsrc_types.length, 0, add_img)//jixu
                    // // list.data.imgsrcs.push(ret.data);
                    // alert(ret.data)
                } else {
                    api.toast({
                        msg: '添加图片出错',
                        duration: 2000,
                        location: 'bottom'
                    });
                }
            });
        }
    };





   
    

    
</script>

</html>