<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Hello APP</title>

    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/public.css" />
    <style>
        #header {
            font-size: 20px;
            /* background-image: url(../image/7.png); */
            background-color: #ff8000;
            color: #fff;
            padding: 0 20px;
            width: 100%;
            padding-top: 20px;
        }

        .icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .aui-list-item-inner {
            padding: 15px 0;
        }
    </style>
</head>

<body>

    <div id="apibox">
        <div v-if="moshi=='list'">
            <transition-group name='fade' tag="div">
                <div v-for="(items,index) in data" class="chakan" :key='index' :user='items.user'
                    style="display: flex;padding: 10px;margin-bottom: 10px; background-color: #fff">
                    <div style="width: 150px;height: 90px;padding-right: 10px;flex-shrink: 0;">
                        <img :src="server+ items.zhaopai_url" width="100%" height="100%" alt="">
                    </div>
                    <div style="flex-grow: 1;display: flex;flex-direction: column; justify-content: space-between;">
                        <div class="aui-font-size-18">
                            {{items.name}}
                        </div>
                        <div class="aui-font-size-12">
                            营业时间：<span>{{items.starttime}}</span>-<span>{{items.endtime}}</span> | 距你{{items.juli}}Km
                        </div>
                        <div class="aui-font-size-12">
                            <div v-for="ti in items.zhuyingyewu.split(',')"
                                class="aui-label aui-label-success aui-label-outlined" style="margin:5px 10px 5px 0px">
                                {{ti}}</div>
                        </div>
                        <div class="aui-font-size-14">

                        </div>
                    </div>
                </div>
            </transition-group>
            <div style="text-align: center;color: darkgray;font-size: 14px;padding: 10px 0;">这里是底线了</div>
        </div>
        <div v-if="moshi=='map'">
            <div v-if="mapdata" id="mapbox"
                style="background-image: linear-gradient(#03a9f4, #67D1E8);color: #fff; width: 100%;height: 120px;overflow: hidden; position: fixed; bottom:0;left: 0;background-color: #fff;display: flex;padding: 10px; align-items:center;">
                <div style="flex-grow: 1;">
                    <div v-if="mapdata.name" style="padding: 10px 0" class="aui-font-size-18">
                        {{mapdata.name}}
                    </div>
                    <div v-if="mapdata.dizhi" class="aui-font-size-14" style="overflow: hidden;">
                        <span>距你{{mapdata.juli}}Km</span><span
                            style="margin: 0 10px;">|</span>营业时间：<span>{{mapdata.starttime}}</span>-<span>{{mapdata.endtime}}</span>
                    </div>
                    <div class="aui-font-size-14">
                        <span>{{mapdata.dizhi}}</span>
                    </div>
                </div>
                <div style="flex-shrink: 1;">
                    <div id="quzheli" class="aui-btn  aui-btn-outlined">去这里</div>
                </div>
            </div>
            <div v-else
                style="background-image: linear-gradient(#03a9f4, #67D1E8);color: #fff; width: 100%;height: 120px;overflow: hidden; position: fixed; bottom:0;left: 0;background-color: #fff;display: flex;padding: 10px; align-items:center;">
                <div style="flex-grow: 1;">
                    <div style="padding: 10px 0" class="aui-font-size-18">
                        无数据
                    </div>

                </div>
            </div>
        </div>

    </div>
</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/vue.js"></script>
<script type="text/javascript" src="../script/public.js"></script>
<script type="text/javascript">
    apiready = function () {
        var bMap = api.require('bMap');
        var button = api.require('UIButton');
        var lat;
        var lon;
        api.refreshHeaderLoading();
        let leibie = api.pageParam.leibie

        api.addEventListener({
            name: 'ismap'
        }, function (ret, err) {
            let ismap = ret.value.ismap;

            if (ismap == 1) {
                apibox.moshi = 'map'
                let set_bottom_data = function (id) {
                    apibox.mapdata = (apibox.data)[id]
                }
                open_bmap(apibox.data, 'lon', 'lat', 'name', set_bottom_data)
            } else {
                apibox.mapdata = '';
                apibox.moshi = 'list';
                bMap.hide()
                button.hide({ id: 0 });
                api.setFrameAttr({
                    name: api.frameName,
                    bounces: true
                });

            }
        });




        api.setRefreshHeaderInfo({
            loadingImg: 'widget://image/refresh.png',
            bgColor: '#ccc',
            textColor: '#fff',
            textDown: '下拉刷新...',
            textUp: '松开刷新...',
            showTime: false
        }, function (ret, err) {

            //在这里从服务器加载数据，加载完成后调用api.refreshHeaderLoadDone()方法恢复组件到默认状态

            if (api.systemType == 'ios') {
                bMap.initMapSDK(function (ret) {
                    if (ret.status) {
                         get_dianpu_leibie_list(leibie)
                    }
                });
            } else {
                get_dianpu_leibie_list(leibie)
            }


        });

        function get_dianpu_leibie_list(leibie) {
            new Promise(function (resolve, reject) {
                bMap.getLocation({
                    accuracy: '100m',
                    autoStop: true,
                    filter: 1
                }, function (ret, err) {
                    if (ret.status) {
                        lat = ret.lat;
                        lon = ret.lon
                        resolve(ret)
                    } else {
                        reject('获取GPS失败');
                    }
                })
            }).then(function (res) {
                return new Promise(function (resolve, reject) {
                    bMap.getNameFromCoords({
                        lon: res.lon,
                        lat: res.lat
                    }, function (ret, err) {
                        if (ret.status) {
                            resolve(ret)
                        } else {
                            reject('获取adcode失败');
                        }
                    })

                })


            }).then(function (res) {
                api.ajax({
                    url: server + '/api/get_dianpu_list',
                    method: 'post',
                    timeout: 10,
                    dataType: 'json',
                    returnAll: false,
                    data: {
                        values: {
                            adCode: res.adCode,
                            leibie: leibie
                        }
                    }
                }, function (ret, err) {
                    if (ret.length > 0) {
                        ret.forEach(element => {
                            element.juli = getDistance(lat, lon, element.lat, element.lon)
                        });
                        ret.sort((a, b) => { return a.juli - b.juli })
                        apibox.data = ret
                    } else {
                        apibox.data = ''
                    }
                    api.refreshHeaderLoadDone()
                })
            }).catch(function (error) {

                api.refreshHeaderLoadDone()

                apibox.data = ''
            });
        }









        var apibox = new Vue({
            el: "#apibox",
            data: {
                moshi: 'list',
                server: server,
                loading: false,
                error: false,
                data: '',
                mapdata: '',
                errormsg: "没有找到您需要的数据"
            },
            updated: function () {
                var chakandom = $api.domAll('.chakan');
                Array.prototype.forEach.call(chakandom, function (btn) {
                    btn.addEventListener('click', function (event) {
                        var user = event.currentTarget.getAttribute('user')
                        api.openWin({
                            name: 'dianpu',
                            url: './Z_dianpu.html',
                            bounces: false,
                            pageParam: {
                                biaoti: '店铺',
                                html: 'Z_dianpu',
                                user: user
                            }
                        });
                    })
                });

                

                $api.addEvt($api.byId('quzheli'), 'click', function () {
                    let lat = apibox.mapdata.lat
                    let lon = apibox.mapdata.lon
                    let name = apibox.mapdata.name
                    map_start_info(lat, lon, name)
                });
            },
            computed: {


            },
        });
    };
</script>

</html>