<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
	<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
	<title>Hello APP</title>
	<link rel="stylesheet" type="text/css" href="../css/api.css" />
	<link rel="stylesheet" type="text/css" href="../css/aui.css" />
	<link rel="stylesheet" type="text/css" href="../css/public.css" />
	<style>
		.header {
			height: 50px;
			padding: 0px 20px;
			font-size: 20px;
			/* background-image: url(../image/7.png); */
			position: fixed;
			width: 100%;
			background-color: #03a9f4;
			color: #fff;
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-image: linear-gradient(#03a9f4, #67D1E8);
		}

		.aui-list {
			background-color: #fff;
		}

		.xuanxiangActive {
			border-bottom: #ff8000 2px solid;
			color: #ff8000;
		}

		.xuanxiang {
			margin: 0px 15px;
			font: bold;
			padding: 10px 0;
		}
	</style>
</head>

<body>
	<div id="apibox" class="aui-content">
		<div
			style="display: flex;position: relative; justify-content: center;align-items: center; flex-direction: column;background-color: #fff;">
			<div style="width: 100%;height: 150px;overflow: hidden;">
				<img id="touxiang" width="100%" height="100%" :src="server+ data.jyz_zhaopai_url" alt="">
			</div>
			<div id="genghuantouxiang" class="aui-font-size-14" style="position: absolute;bottom: 10px; right: 10px;color: #fff;">
				更换招牌
			</div>

		</div>
		<div class="aui-content" style="background-color: #fff;">
			<ul class="aui-list aui-list-in">
				<li class="aui-list-item aui-list-item-middle">
					<div class="aui-list-item-inner">
						<div class="aui-list-item-title">加油站名称</div>
						<div class="aui-list-item-right">
							{{data.jyz_name}}
						</div>
					</div>
				</li>
				<li class="aui-list-item">
					<div class="aui-list-item-label">
						营业时间
					</div>
					<div class="aui-list-item-input">
						<div style="display: flex;align-items: center;">
							<input type="text" style="text-align: center;" id="starttime" v-model='data.jyz_starttime'
								placeholder="开始">|<input type="text" style="text-align: center;" id="endtime"
								v-model='data.jyz_endtime' placeholder="结束">
						</div>
					</div>
				</li>
				<li id="phone" class="aui-list-item aui-list-item-middle">
					<div class="aui-list-item-inner aui-list-item-arrow">
						<div class="aui-list-item-title">电话</div>
						<div class="aui-list-item-right">
							{{data.jyz_phone}}
						</div>
					</div>
				</li>

				<li id="jyz_92jiage" class="aui-list-item aui-list-item-middle">
					<div class="aui-list-item-inner aui-list-item-arrow">
						<div class="aui-list-item-title">92汽油价格({{jinriyoujia.prov}}统一油价{{jinriyoujia.p92}})</div>
						<div class="aui-list-item-right">
							{{data.jyz_92jiage}}
						</div>
					</div>
				</li>
				<li id="jyz_95jiage" class="aui-list-item aui-list-item-middle">
					<div class="aui-list-item-inner aui-list-item-arrow">
						<div class="aui-list-item-title">95汽油价格({{jinriyoujia.prov}}统一油价{{jinriyoujia.p95}})</div>
						<div class="aui-list-item-right">
							{{data.jyz_95jiage}}
						</div>
					</div>
				</li>
				<li id="jyz_86jiage" class="aui-list-item aui-list-item-middle">
					<div class="aui-list-item-inner aui-list-item-arrow">
						<div class="aui-list-item-title">86柴油价格({{jinriyoujia.prov}}统一油价{{jinriyoujia.p0}})</div>
						<div class="aui-list-item-right">
							{{data.jyz_86jiage}}
						</div>
					</div>
				</li>

			</ul>
		</div>
	</div>
</body>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/vue.js"></script>
<script type="text/javascript" src="../script/public.js"></script>
<script type="text/javascript">
	apiready = function () {
		let data = api.pageParam.data
		let jinriyoujia = api.getGlobalData({
			key: 'jinriyoujia'
		});
		var apibox = new Vue({
			el: '#apibox',
			data: {
				server: server,
				data: data,
				jinriyoujia:jinriyoujia
			},
			updated() {

			}
		})

		
		$api.addEvt($api.dom('#back'), 'click', function () {
			api.closeWin();
		});

		// $api.addEvt($api.dom('#phone'), 'click', function () {
		// 	let reg = /^1[3456789]\d{9}$/;
		// 	dialogBoxinput2('手机号', ' ', reg, function (ss) {
		// 		updata_jiayouzhan('jyz_phone', ss)
		// 	})
		// });
		$api.addEvt($api.dom('#jyz_92jiage'), 'click', function () {
			let reg = /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9](0-9)?$)/;
			dialogBoxinput2('92汽油价格', ' ', reg, function (ss) {
				updata_jiayouzhan('jyz_92jiage', ss)
			})
		}); $api.addEvt($api.dom('#jyz_95jiage'), 'click', function () {
			let reg = /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9](0-9)?$)/;
			dialogBoxinput2('95汽油价格', ' ', reg, function (ss) {
				updata_jiayouzhan('jyz_95jiage', ss)
			})
		}); $api.addEvt($api.dom('#jyz_86jiage'), 'click', function () {
			let reg = /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9](0-9)?$)/;
			dialogBoxinput2('86柴油价格', ' ', reg, function (ss) {
				updata_jiayouzhan('jyz_86jiage', ss)
			})
		});
		$api.addEvt($api.dom('#starttime'), 'click', function () {
			api.openPicker({
				type: 'time',
				date: '2020-01-01 08:00',
				title: '开始时间'
			}, function (ret, err) {
				if (ret) {
					if (ret.minute < 10) {
						ret.minute = "0" + ret.minute
					}


					let data = {
						user: $api.getStorage('user'),
						md5password: $api.getStorage('md5password'),
						ziduan: starttime,
						zhi: ret.hour + ':' + ret.minute
					}
					zdy_ajax(
						'/api/updata_jiayouzhan/jyz_starttime',
						data,
						function (ret2) {
							if (ret2.zhuangtai) {
								toast('修改成功');
								apibox.data.jyz_starttime = ret.hour + ':' + ret.minute;
							}
						}
					)

				}
			});
		})

		$api.addEvt($api.dom('#endtime'), 'click', function () {
			api.openPicker({
				type: 'time',
				date: '2020-01-01 17:00',
				title: '结束时间'
			}, function (ret, err) {
				if (ret) {
					if (ret.minute < 10) {
						ret.minute = "0" + ret.minute
					}
					let data = {
						user: $api.getStorage('user'),
						md5password: $api.getStorage('md5password'),
						ziduan: endtime,
						zhi: ret.hour + ':' + ret.minute
					}
					zdy_ajax(
						'/api/updata_jiayouzhan/jyz_endtime',
						data,
						function (ret2) {
							if (ret2.zhuangtai) {
								toast('修改成功');
								apibox.data.jyz_endtime = ret.hour + ':' + ret.minute;
							}
						}
					)

				}
			});
		})

		api.addEventListener({
			name: 'updata_jiayouzhan_zhaopai'
		}, function (ret, err) {
			apibox.data.jyz_zhaopai_url = ret.value.imgpath;
		});

		$api.addEvt($api.dom('#genghuantouxiang'), 'click', function () {

			api.openWin({
				name: 'Z_addimg',
				url: './Z_addimg.html',
				bounces: false,
				pageParam: {
					width: '350',
					height: '150',
					apiurl: '/api/updata_jiayouzhan/jyz_zhaopai_url',
					event: 'updata_jiayouzhan_zhaopai'
				}
			});
		});



		function updata_jiayouzhan(ziduan, zhi) {
			let data = {
				user: $api.getStorage('user'),
				md5password: $api.getStorage('md5password'),
				ziduan: ziduan,
				zhi: zhi
			}
			zdy_ajax(
				'/api/updata_jiayouzhan/' + ziduan,
				data,
				function (ret2) {
					if (ret2.zhuangtai) {
						api.alert({
							title: '提示',
							msg: '修改成功'
						});
						let dialogBox = api.require('dialogBox');
						dialogBox.close({ dialogName: 'input' })
						apibox.data[ziduan] = data.zhi
					}
				}
			)
		}

		


		

	};



</script>

</html>